@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
*{font-family:  "Roboto", sans-serif;;}
.clip-hexagon {
  clip-path: polygon(
    0 0, 100% 1%, 100% 69%, 52% 100%, 52% 100%, 0 60%
  );
}

/* styles.css */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.show {
  opacity: 1;
}
.prose ul {
  @apply list-disc pl-10; /* Adjusts the padding for the list */
}

.prose li {
  @apply mb-2; /* Adds some margin below each list item */
}
.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.header-bg-pink .ant-table-thead > tr > th {
  @apply bg-blue-500 text-white ;
}